<template>
  <v-col class="border">
    <!--
      Stellt den Methodenheader dar
    -->
    <v-text-field
      class="test"
      v-model="buildMethodHeader"
      hide-details
      readonly
      flat
    >
      <!--
        Fügt dem Textfeld zwei Buttons an, zum bearbeiten und löschen der Methode
      -->
      <template slot="append" v-if="isMainAndReadOnly">
        <v-icon @click="showMethodDialog = true">mdi-pencil</v-icon>
        <v-icon @click="removeMethod(method)">mdi-delete</v-icon>
      </template>
    </v-text-field>
    <!--
      Textarea, welche den Inhalt des Methodenkörpers enthält
      Kommt nur im EditorView-Zustand zum Einsatz
    -->
    <div v-if="isReadOnly">
      <v-textarea
        @keydown.tab.prevent="tabber($event)"
        v-model="method.methodBody"
        @blur="edit()"
        filled
        auto-grow
        :readonly="!readOnly"
      ></v-textarea>
    </div>
    <!--  
      Einbindung der Komponente über eine Schleife,
      Übergabe von Metadaten an die Kinderkomponente
      Kommt nur im DebuggerView-Zustand zum Einsatz
    -->
    <div v-if="!isReadOnly">
      <DebugHighlightArea
        v-for="(att, index) in methodBodySplitted"
        :codeLine="att"
        :methodName="method.methodHeader.methodName"
        :key="index"
      >
      </DebugHighlightArea>
    </div>
    }
    <!--
      Einbindung der Komponente zur Hinzufügung einer neuen Methode, sichtbar nur nach Impuls,
      Bindung eines Benutzerdefinierten Ereignisses "close" an die MethodDialog-komponente
    -->
    <MethodDialog
      v-if="readOnly"
      :methodPara="method"
      :key="this.$vnode.key"
      :visible="showMethodDialog"
      @close="dialogCloseEvent"
    />
  </v-col>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Mutation, Getter } from "vuex-class";

import { Method } from "../store/programCode/types";
import { ExecutionState } from "../store/stateOfExecution/types";
import DebugHighlightArea from "./debugger/DebugHighlightArea.vue";
import MethodDialog from "@/components/editor/MethodDialog.vue";

// Übergebene Daten von der DebuggerView-/EditorView-Komponente
const CodeAreaProps = Vue.extend({
  props: {
    method: Object as () => Method,
    readOnly: Boolean,
  },
});
@Component({
  components: {
    MethodDialog,
    DebugHighlightArea,
  },
})
export default class CodeArea extends CodeAreaProps {
  //Privates Attribut
  private showMethodDialog: boolean = false;

  //Store Getter
  //Mittels des Decorators, Zugriff auf einen Getter des executionState Moduls
  @Getter("executionState/getExecutionState")
  getExecutionState!: () => ExecutionState;

  //Store Mutations
  //Mittels des Decorators, Zugriff auf eine Mutation des programCodeState Moduls
  @Mutation("programCodeState/removeMethodFromTemporaryProgram")
  removeMethod: any;
  @Mutation("programCodeState/editMethodFromTemporaryProgram")
  editMethod: any;

  //-----------------------Computed Properties---------------------------------------//
  get buildMethodHeader() {
    return this.createMethodHeader(this.method);
  }
  get methodBody() {
    return this.method.methodBody;
  }
  get isMainAndReadOnly() {
    if (this.readOnly) {
      if (this.method.methodHeader.methodName === "main") return false;
      else return true;
    }
    return false;
  }
  get isReadOnly() {
    if (this.readOnly) return true;
    return false;
  }
  get methodBodySplitted() {
    return this.methodBody.split("\n");
  }

  //-----------------------Methods---------------------------------------//
  private edit() {
    this.editMethod({
      method: this.method,
      methodNameOld: this.method.methodHeader.methodName,
    });
  }
  // Mehtode zur Unterstützung eines Tabs in der Textare Komponente
  // Quelle: https://forum.vuejs.org/t/how-to-add-indents-when-using-tab-key-in-textarea/33430/3
  private tabber(event: any) {
    let text = this.method.methodBody,
      originalSelectionStart = event.target.selectionStart,
      textStart = text.slice(0, originalSelectionStart),
      textEnd = text.slice(originalSelectionStart);

    this.method.methodBody = `${textStart}\t${textEnd}`;
    event.target.value = this.method.methodBody; // required to make the cursor stay in place.
    event.target.selectionEnd = event.target.selectionStart =
      originalSelectionStart + 1;
  }
  private dialogCloseEvent() {
    this.showMethodDialog = false;
    this.$emit("rerender");
  }
  //Erstellen des Headers der Methode
  private createMethodHeader(method: Method): String {
    let header: String = "public static ";
    if (method.methodHeader.methodName === "main") {
      header = header + `void main ( String args [ ] ) {`;
    } else {
      header =
        header +
        `${method.methodHeader.returnStatement} ${method.methodHeader.methodName}(`;
      for (let parameter of method.methodHeader.parameter) {
        header = header + parameter + ", ";
      }
      if (method.methodHeader.parameter.length == 0) {
        header = header + " ) {";
      } else header = header.substring(0, header.length - 2) + ") {";
    }
    return header;
  }
}
</script>
<style scoped>
.border {
  width: 500px;
  border-color: 0x0000;
  border-width: 1px;
  border-style: solid;
  margin-bottom: 10px;
}
.test {
  background: white;
}
</style>
