<template>
  <div>
    <v-app-bar app color="primary" dark>
      <!--
        Button zum Wechseln der Ansichten, mitsamt Hover-Text
      -->
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn v-on:click="switchView" icon v-bind="attrs" v-on="on">
            <v-icon> mdi-switch </v-icon>
          </v-btn>
        </template>
        <span>Wechsel der Ansicht</span>
      </v-tooltip>
      <!--
        Aktivierung des Dialogfensters zur Auwahl eines Programmes, 
        nur benutzbar wenn sich die Anwendung im EditorView-Zustand befindet, mitsamt Hover-Text
      -->
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            :disabled="activeView == 'DebuggerView'"
            @click="showProgramSelectionDialog = true"
            v-bind="attrs"
            v-on="on"
            icon
          >
            <v-icon>mdi-circle</v-icon>
          </v-btn>
        </template>
        <span>Auswahl eines Programms</span>
      </v-tooltip>
      <!--
        Button zum Speichern, öffnet ein Modal direkt im Template, ohne seperate Komponente
      -->
      <v-menu v-model="showMenu" :close-on-content-click="false" offset-x>
        <template v-slot:activator="{ on, attrs }">
          <v-btn v-bind="attrs" v-on="on" icon>
            <v-icon @click="showMenu = false">mdi-content-save</v-icon>
          </v-btn>
        </template>
        <v-card>
          <v-list>
            <v-list-item>
              <v-list-item-action>
                <v-text-field
                  dense
                  solo
                  v-model="newProgramName"
                  label="Name des Programms"
                ></v-text-field>
              </v-list-item-action>
            </v-list-item>
          </v-list>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn text color="primary" @click="saveProgram()">
              Speichern
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-menu>
      <v-spacer></v-spacer>
      <!--
        Anzeige des Namens des aktuell geladenen Programmes
      -->
      <h2>{{ getProgramNameOfTemporaryProgram(true) }}</h2>
      <v-spacer></v-spacer>
    </v-app-bar>
    <!--
      Einbindung der Komponente zur Auswahl eines Programmes, sichtbar nur nach Impuls,
      Bindung eines Benutzerdefinierten Ereignisses "close" an die ProgramSelectionDialog-Komponente
    -->
    <ProgramSelectionDialog
      v-if="showProgramSelectionDialog"
      :visible="showProgramSelectionDialog"
      @close="showProgramSelectionDialog = false"
    />
  </div>
</template>

<script lang ="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Getter, Mutation } from "vuex-class";

import { ProgramCode } from "../store/programCode/types";
import { component } from "vue/types/umd";
import ProgramSelectionDialog from "./ProgramSelectionDialog.vue";

// Übergebene Daten von der App-Komponente
const HeaderBarProps = Vue.extend({
  props: {
    activeView: String,
  },
});
@Component({
  components: {
    ProgramSelectionDialog,
  },
})
export default class HeaderBar extends HeaderBarProps {
  // Private Attribute
  private newProgramName: string = "";
  private showMenu: boolean = false;
  private showProgramSelectionDialog: boolean = false;

  //Store Getters
  //Mittels des Decorators, Zugriff auf einen Getter des programCodeState Moduls
  @Getter("programCodeState/getTemporaryProgram")
  getTemporaryProgram: any;
  @Getter("programCodeState/getProgramNameOfTemporaryProgram")
  getProgramNameOfTemporaryProgram: any;

  //Store Mutation
  //Mittels des Decorators, Zugriff auf eine Mutation des programCodeState Moduls
  @Mutation("programCodeState/addNewProgram") addNewProgramm: any;

  //-----------------------Methods---------------------------------------//
  // Speichern des Programmes in den Store, und in den LocalStorage
  private saveProgram() {
    try {
      var tempProgram: ProgramCode = this.getTemporaryProgram(true);
      var newProgram: ProgramCode = {
        programName: this.newProgramName,
        isProgramPredefined: false,
        isTemporary: false,
        programCode: tempProgram.programCode,
      };
      this.addNewProgramm(newProgram);
      let userPrograms = localStorage.getItem("userPrograms");
      if (userPrograms) {
        var userProgramsObject: Array<ProgramCode> = JSON.parse(userPrograms);
        userProgramsObject.push(newProgram);
        localStorage.setItem(
          "userPrograms",
          JSON.stringify(userProgramsObject)
        );
      }
      this.showMenu = false;
      this.newProgramName = "";
    } catch (e) {
      window.alert(e);
    }
  }
  //Auslösung des Benutzerdefinierten Ereignisses der App-Komponente
  //Ansicht soll geändert werden
  private switchView() {
    this.$emit("activeView");
  }
}
</script>