<template>
  <div class="text-center">
    <!--
      Dialogfenster zur Auswahl eines Programems 
    -->
    <v-dialog persistent v-model="dialog" width="700px">
      <v-card-title class="headline grey lighten-2">
        Auswahl eines Beispielprogrammes
        <v-spacer />
        <v-icon @click="closeDialog()">mdi-close</v-icon>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="getAllPrograms"
        hide-default-footer
        class="elevation-1"
      >
        <template #[`item.actions`]="{ item }">
          <!--
            Icon-Button zur Auwahl eines Programmes, mitsamt Hover-Text
          -->
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-icon
                left
                @click="selectProgram(item)"
                v-bind="attrs"
                v-on="on"
              >
                mdi-download
              </v-icon>
            </template>
            <span>Programm auswählen</span>
          </v-tooltip>
          <!--
            Icon-Button zum Löschen eines Programmes, mitsamt Hover-Text
          -->
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-icon
                right
                v-bind="attrs"
                v-on="on"
                v-if="item.isProgramPredefined == false"
                @click="deleteItem(item)"
              >
                mdi-delete
              </v-icon>
            </template>
            <span>Programm löschen</span>
          </v-tooltip>
        </template>
      </v-data-table>
    </v-dialog>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Getter, Mutation } from "vuex-class";
import Component from "vue-class-component";

import { ProgramCode } from "../store/programCode/types";

// Übergebene Daten von der HeaderBar-Komponente
const ProgramSelectionDialogProps = Vue.extend({
  props: {
    visible: Boolean,
  },
});
@Component({})
export default class ProgramSelectionDialog extends ProgramSelectionDialogProps {
  // Private Attribute
  private headers: Array<Object> = [
    {
      text: "Programm Name",
      value: "programName",
    },
    { text: "Aktionen", value: "actions" },
  ];
  //Store Getter
  //Mittels des Decorators, Zugriff auf einen Getter des programCodeState Moduls
  @Getter("programCodeState/getAllPrograms") allPrograms: any;

  //Store Mutations
  //Mittels des Decorators, Zugriff auf eine Mutation des programCodeState Moduls
  @Mutation("programCodeState/setTemporary") setTemporary: any;
  @Mutation("programCodeState/removeProgramByName") removeProgramByName: any;

  //Computed Properties
  get getAllPrograms() {
    return this.allPrograms;
  }
  get dialog() {
    return this.visible;
  }
  set dialog(value) {
    if (!value) this.closeDialog();
  }

  //-----------------------Methods---------------------------------------//
  // Löscht ein Programm, sowohl aus dem Store als auch aus dem LocalStorage
  public deleteItem(item: ProgramCode) {
    try {
      this.removeProgramByName(item);
      var userProgramsLocalStorage = localStorage.getItem("userPrograms");
      if (userProgramsLocalStorage) {
        var tt: Array<ProgramCode> = JSON.parse(userProgramsLocalStorage);

        let gustav = tt.find((code) => code.programName === item.programName);
        if (gustav) {
          let indexOfDeleteProgram = tt.indexOf(gustav);
          if (
            (indexOfDeleteProgram && indexOfDeleteProgram > -1) ||
            indexOfDeleteProgram == 0
          ) {
            tt.splice(indexOfDeleteProgram, 1);
          }
          localStorage.setItem("userPrograms", JSON.stringify(tt));
        }
      }
    } catch (e) {
      window.alert(e);
    }
  }
  // Auswahl eines Programmes, Änderung des Temporären Programmes
  public selectProgram(item: ProgramCode) {
    this.setTemporary(item);
    this.closeDialog();
  }
  //Auslösung des Benutzerdefinierten Ereignisses der HeaderBar-komponente
  // Dialog soll geschlossen werden
  public closeDialog() {
    this.$emit("close");
  }
}
</script>