<template>
  <v-col>
    <v-app>
      <!--  
        Einbindung der Komponente, Übergabe des Namen der aktuellen Ansicht,
        Bindung eines Benutzerdefinierten Ereignisses an die Kinderkomponente
      -->
      <HeaderBar @activeView="switchView" :activeView="activeView"></HeaderBar>
      <v-main>
        <v-container fluid>
          <!--
            Platzhalter für die DebuggerView- EditorView-Komponente
          -->
          <component :is="activeView" @error="errorPromp" />
        </v-container>
      </v-main>
    </v-app>
  </v-col>
</template>

<script lang="ts">
import Vue from "vue";
import { Getter, Mutation } from "vuex-class";
import Component from "vue-class-component";

import { Actions, StackUnit } from "./store/stackSchema/types";
import { ProgramCode } from "./store/programCode/types";
import DebuggerView from "./components/debugger/DebuggerView.vue";
import EditorView from "./components/editor/EditorView.vue";
import ActionBar from "./components/debugger/ActionBar.vue";
import HeaderBar from "./components/HeaderBar.vue";

@Component({
  components: {
    EditorView,
    DebuggerView,
    HeaderBar,
  },
})
export default class App extends Vue {
  // Private Attribute
  private activeView: string = "DebuggerView";
  private example1: ProgramCode = {
    programName: "Aufrufstack Beispiel",
    isTemporary: false,
    isProgramPredefined: true,
    programCode: [
      {
        methodHeader: {
          returnStatement: "void",
          methodName: "main",
          parameter: ["String args [ ]"],
        },
        methodBody:
          "int x;\nint y;\nint abst;\nx = 7;\ny = 3;\nabst = abstand(x,y);",
      },
      {
        methodHeader: {
          returnStatement: "int",
          methodName: "abstand",
          parameter: ["int a", "int b"],
        },
        methodBody:
          "int diff;\nint erg;\ndiff = a - b;\nerg = betrag(diff);\nreturn erg; ",
      },
      {
        methodHeader: {
          returnStatement: "int",
          methodName: "betrag",
          parameter: ["int a"],
        },
        methodBody:
          "int erg;\nif (a >= 0){\n\terg = a;\n}else{\n\terg = -a;\n}\nreturn erg; ",
      },
    ],
  };
  private example2: ProgramCode = {
    programName: "Beispielprogram2",
    isTemporary: false,
    isProgramPredefined: true,
    programCode: [
      {
        methodHeader: {
          returnStatement: "void",
          methodName: "main",
          parameter: ["String args [ ]"],
        },
        methodBody: "int x;\nx = 5;\nint y;\ny = test(x);\nint z;\nz = x;",
      },
      {
        methodHeader: {
          returnStatement: "int",
          methodName: "test",
          parameter: ["int kk"],
        },
        methodBody: "int x;\nx = 4;\nreturn x; ",
      },
    ],
  };
  private tempProgram: ProgramCode = {
    programName: "TempProgram",
    isProgramPredefined: true,
    isTemporary: true,
    programCode: [],
  };

  //Store Mutations
  //Mittels des Decorators, Zugriff auf eine Mutation des programCodeState Moduls
  @Mutation("programCodeState/addNewProgram") addNewProgramm: any;

  //Lifecircle Hook
  //Wird ausgeführt, sobald die Komponente erstellt wird
  created() {
    try {
      this.addNewProgramm(this.example1);
      this.addNewProgramm(this.example2);
      this.tempProgram.originProgramName = this.example1.programName;
      this.tempProgram.programCode = JSON.parse(
        JSON.stringify(this.example1.programCode)
      );
      this.addNewProgramm(this.tempProgram);
      //Überprüfung, ob localStorage Instanz bereits existiert
      if (localStorage.getItem("userPrograms") == undefined) {
        var userPrograms: Array<ProgramCode> = [];
        localStorage.setItem("userPrograms", JSON.stringify(userPrograms));
      } else {
        var localStorageTemp = localStorage.getItem("userPrograms");
        if (localStorageTemp) {
          var localPrograms: Array<ProgramCode> = JSON.parse(localStorageTemp);
          localPrograms.forEach((program) => this.addNewProgramm(program));
        }
      }
    } catch (e) {
      window.alert(e);
    }
  }
  //-----------------------Methods---------------------------------------//
  //Aufruf der Methode, durch die HeaderBar-Komponente
  //Gibt eine Fehlermeldung aus, und wechselt zurück in den EditorView-Zustand
  private errorPromp(e: Error) {
    window.alert(e);
    this.activeView = "EditorView";
  }
  //Wechselt den Zustand
  private switchView(): void {
    if (this.activeView === "DebuggerView") this.activeView = "EditorView";
    else this.activeView = "DebuggerView";
  }
}
</script>