<template>
  <div class="vstage">
    <h1>Aufrufstapel</h1>
    <!--
      KonvaJS Komponente, welches eine Canvas-Zeichnfläche erstellt
    -->
    <v-stage :config="configKonva" id="stage" ref="stage">
      <v-layer ref="layer">
        <!--
          Einbindung der Komponente über eine Schleife,
          Übergabe wichtiger Daten an die RectKonva-Komponente
        -->
        <RectKonva
          v-for="(att, index) in stackComp"
          :key="index"
          :attribute="att"
          :col="index"
          :componentHeight="windowHeight"
          :rectHeight="rectHeight"
          :offSet="offSet"
        />
      </v-layer>
    </v-stage>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Getter } from "vuex-class";
import Component from "vue-class-component";
import { StackUnit } from "../../../store/stackSchema/types";
import RectKonva from "./RectKonva.vue";

// Übergebene Daten von der DebuggerView-Komponente
const CallStackProps = Vue.extend({
  props: {
    maxUnitAmount: Number,
  },
});

@Component({
  components: {
    RectKonva,
  },
})
export default class CallStack extends CallStackProps {
  //Private Attribute
  private componentHeight: number = this.windowHeight;
  private offSet: Number = 0;
  //Konfiguartionsobjekt der Canvas Zeichenfläche
  configKonva: Object = {
    width: 300,
    height: this.windowHeight,
  };
  private rectHeight: Number = 0;

  //Store Getter
  //Mittels des Decorators, Zugriff auf einen Getter des programCodeState Moduls
  @Getter("stackShemaState/getAllAttributes")
  getStackShema!: () => Array<StackUnit>;

  //Computed Properties
  get stackComp() {
    return this.getStackShema();
  }
  get windowHeight() {
    return 800;
  }
  get windowWidth() {
    return window.innerWidth;
  }
  get stackShemaAmount() {
    return this.getStackShema().length;
  }
  //Lifecircle Hook
  //Wird ausgeführt, sobald die Komponente erstellt wird
  created() {
    //Bestimmung der höhe eines zu zeichnenden Rechteckes, und des Offsets
    this.rectHeight = this.maxUnitAmount > 20 ? 20 : 38.5;
    this.offSet =
      this.componentHeight - this.maxUnitAmount * Number(this.rectHeight);
  }
}
</script>

<style lang="scss" scoped>
div .vstage {
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  top: 90px;
}
</style>
