<template>
  <v-row>
    <!--
      KonvaJS Komponenten, welche jeweils ein Canvas-Objekt erstellen
    -->
    <v-rect :config="configRect" />
    <v-text :config="configTextValue" />
    <v-text :config="configTextName" />
  </v-row>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { StackUnit } from "../../../store/stackSchema/types";

// Übergebene Daten von der CallStack-Komponente
const RectKonvaProps = Vue.extend({
  props: {
    attribute: Object as () => StackUnit,
    col: Number,
    componentHeight: Number,
    rectHeight: Number,
    offSet: Number,
  },
});
@Component({})
export default class RectKonva extends RectKonvaProps {
  //-----------------------Computed Properties---------------------------------------//
  get attributeComp() {
    return this.attribute;
  }
  //Ermittelung der Y-Position des Rechteckes
  get rectPosY() {
    return (
      this.componentHeight - (this.offSet + this.col * this.rectHeightComp)
    );
  }
  get rectHeightComp() {
    return this.rectHeight;
  }
  //Konfiguration des zu Zeichnenden Rechteckes
  get configRect() {
    return {
      x: 0,
      y: this.rectPosY,
      width: 100,
      height: this.rectHeightComp,
      fill: "white",
      stroke: this.attributeComp.color,
    };
  }
  //Konfiguration des zu Zeichnenden Textes, welche den Inhalt des Eintrages angibt
  get configTextValue() {
    return {
      x: 45,
      y: this.rectPosY + this.rectHeightComp / 2 - 5,
      text: this.attributeComp.value,
      fontSize: this.rectHeightComp == 38.5 ? 20 : 10,
      allign: "center",
    };
  }
  //Konfiguration des zu Zeichnenden Textes, welche den Namen des Eintrages angibt
  get configTextName() {
    return {
      x: 110,
      y: this.rectPosY + this.rectHeightComp / 2 - 5,
      text: this.attributeComp.name,
      fontSize: this.rectHeightComp == 38.5 ? 20 : 10,
      allign: "center",
    };
  }
}
</script>

<style>
</style>