<template>
  <div>
    <v-row class="mb-6" justify="center" no-gutters>
      <v-col col="2"></v-col>
      <v-col col="5">
        <h1>Editor Ansicht</h1>
        <!-- 
          Einbindung der Komponente über eine Schleife,
          Übergabe wichtiger Daten an die CodeArea-Komponente
          Bindung eines Benutzerdefinierten Ereignisses "rerender" an die CodeArea-Komponente
        -->
        <CodeArea
          v-for="(method, index) in temporaryProgram.programCode"
          :key="index"
          :method="method"
          :readOnly="true"
          @rerender="rerender"
        />
        <!--
          Aktivierung des Dialogfensters zur Erstellung einer neuen Methode 
        -->
        <v-btn @click="showMethodDialog = true" class="ma-2" tile outlined>
          <v-icon left>mdi-plus</v-icon>Neue Methode hinzufügen
        </v-btn>
        <!--
          Einbindung der Komponente,
          Bindung eines Benutzerdefinierten Ereignisses "close" an die MethodDialog-Komponente
        -->
        <MethodDialog
          v-if="showMethodDialog"
          :visible="showMethodDialog"
          @close="showMethodDialog = false"
        />
      </v-col>
      <v-col col="5"></v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Getter } from "vuex-class";
import Component from "vue-class-component";
import MethodDialog from "./MethodDialog.vue";
import CodeArea from "../CodeArea.vue";
import { ProgramCode } from "../../store/programCode/types";

@Component({
  components: {
    MethodDialog,
    CodeArea,
  },
})
export default class Editorview extends Vue {
  //Private Attribute
  private showMethodDialog: boolean = false;

  //Store Getters
  //Mittels des Decorators, Zugriff auf einen Getter des programCodeState Moduls
  @Getter("programCodeState/getTemporaryProgram") getTemporaryProgram: any;

  //Computed Propertie
  get temporaryProgram() {
    return this.getTemporaryProgram(true);
  }

  //-----------------------Method---------------------------------------//
  //Komponente wird neu gerendert, dient zur Aktualisierung der Daten
  private rerender() {
    this.$forceUpdate();
  }
}
</script>
