<template>
  <div class="text-center">
    <v-dialog v-model="dialog" width="51%" persistent>
      <v-card>
        <!--
          Anzeige des Titels
        -->
        <v-card-title class="headline grey lighten-2">
          {{ title }}
          <v-spacer />
          <!--
            Bereitstellung eines Close-Buttons
          -->
          <v-icon left @click="closeDialog()">mdi-close</v-icon>
        </v-card-title>
        <v-card-text>
          <v-row>
            <v-col cols="2">
              <v-text-field
                v-model="publicstatic"
                hide-details
                readonly
                flat
                solo
                dense
                class="shrink"
              />
            </v-col>
            <v-col cols="2">
              <!--
                Auswahl des Rückgabetyps
              -->
              <v-select
                dense
                :items="returnStatement"
                label="Rückgabetyp"
                v-model="method.methodHeader.returnStatement"
              ></v-select>
            </v-col>
            <v-col cols="3" class="shrink">
              <!--
                Eingabe des Methodennamens
              -->
              <v-text-field
                hide-details
                v-model="method.methodHeader.methodName"
                dense
                label="Methodenname"
                class="shrink"
                :rules="[(v) => !!v || 'Methodenname ist erforderlich']"
              />
            </v-col>
            <v-col cols="5" class="shrink">
              <!--
                Eingabe der Parameter
              -->
              <v-combobox
                v-model="method.methodHeader.parameter"
                :search-input.sync="search"
                hide-selected
                label="Parameter"
                multiple
                hide-details
                deletable-chips
                small-chips
                class="shrink"
                dense
              ></v-combobox>
            </v-col>
          </v-row>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer />
          <!--
            Speicher-Button
          -->
          <v-btn color="primary" text @click="emitData()">Speichern</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

import Component from "vue-class-component";
import { Mutation } from "vuex-class";
import { Method } from "../../store/programCode/types";

// Übergebene Daten von der CodeArea-/EditorView-Komponente
const MethodDialogProps = Vue.extend({
  props: {
    // Bei nicht Übergabe einer Methode, wird ein leeres Objekt zur Verfügung gestellt
    // Unterscheidung, ob Methode bearbeitet, oder erstellt wird
    methodPara: {
      type: Object as () => Method,
      default() {
        return {
          methodHeader: {
            returnStatement: "int",
            methodName: "",
            parameter: [],
          },
          methodBody: "",
        };
      },
    },
    visible: Boolean,
  },
});
@Component({})
export default class MethodDialog extends MethodDialogProps {
  //Private Attribute
  private model: Array<string> = [];
  private search: string = "";
  private methodNameOld: string = "";

  //Store Mutation
  //Mittels des Decorators, Zugriff auf eine Mutation des programCodeState Moduls
  @Mutation("programCodeState/editMethodFromTemporaryProgram") editMethod: any;
  @Mutation("programCodeState/addMethodToTemporaryProgram") addMethod: any;

  //-----------------------Computed Properties---------------------------------------//
  get publicstatic() {
    return "public static";
  }
  get returnStatement() {
    return ["void", "int"];
  }
  get dialog() {
    return this.visible;
  }
  set dialog(value) {
    if (!value) this.closeDialog();
  }
  set method(value) {}
  get method() {
    return JSON.parse(JSON.stringify(this.methodPara));
  }
  get title() {
    if (this.$vnode.key == undefined) return "Methode hinzufügen";
    else return "Methode bearbeiten";
  }

  //Lifecircle Hook
  //Wird ausgeführt, sobald die Komponente erstellt wird
  created() {
    this.methodNameOld = this.method.methodHeader.methodName;
  }

  //-----------------------Methods---------------------------------------//
  private emitData() {
    try {
      //Unterscheidung, ob es sich um eine zu bearbeitende Methode,
      //oder um eine neu erstellte Methode handelt
      if (this.validate()) {
        if (this.$vnode.key == undefined) {
          this.addMethod(this.method);
        } else {
          this.editMethod({
            method: this.method,
            methodNameOld: this.methodNameOld,
          });
        }
      }
      this.dialog = false;
    } catch (e) {
      window.alert(e);
      this.dialog = true;
    }
  }
  //Validierung der Eingaben
  private validate() {
    const variableDefinitionRegEx = new RegExp(
      /^(\s*)int(\s*)[a-z][a-zA-Z_0-9]*/
    );
    if (!this.method.methodHeader.returnStatement) {
      window.alert("Rückgabetp muss eingetragen sein");
      return false;
    }
    if (!this.method.methodHeader.methodName) {
      window.alert("Methodennamme muss eingetragen sein");
      return false;
    }
    this.method.methodHeader.parameter.forEach(
      (parameter: any, index: number) => {
        if (!variableDefinitionRegEx.test(parameter)) {
          this.method.methodHeader.parameter.splice(index, 1);
          window.alert("Ein Parameter hatte nicht die gültige Form");
          return false;
        }
      }
    );
    return true;
  }
  private closeDialog() {
    this.$emit("close");
  }
}
</script>

