<template>
  <div>
    <!--
      Button zur Ausführung des Programmes
    -->
    <v-btn
      v-if="stop == true"
      @click="
        {
          (stop = false), startProgram();
        }
      "
    >
      <v-icon>mdi-play</v-icon>
    </v-btn>
    <!--
      Button zur Pausierung der Ausführung
    -->
    <v-btn @click="pauseProgram()" v-if="stop == false">
      <v-icon> mdi-pause </v-icon>
    </v-btn>
    <!--
      Button zum Debuggen des Programmes
    -->
    <v-btn @click="debugProgram()" :disabled="stop == false"
      ><v-icon> mdi-step-forward </v-icon></v-btn
    >
    <!--
      Button zum Abbrechen der Ausführung
    -->
    <v-btn @click="resetProgram()"><v-icon> mdi-cancel </v-icon></v-btn>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Getter, Mutation } from "vuex-class";
import Component from "vue-class-component";

import { Method, ProgramCode } from "../../store/programCode/types";
import { Actions, StackUnit } from "../../store/stackSchema/types";
import { programInterpreter } from "../../functions/interpreter";
import CodeArea from "../CodeArea.vue";

// Callbackfunktion, zum Pausieren der Funktion, welche den PRogrammcode ausführt
const sleep = (delay: any) =>
  new Promise((resolve) => setTimeout(resolve, delay));

// Übergebene Daten von der DebuggerView-Komponente
const ActionBarProps = Vue.extend({
  props: {
    stackShema: {
      type: Array,
      default: [],
    },
  },
});
@Component({})
export default class ActionBar extends ActionBarProps {
  private position: number = 0;
  private stop: boolean = true;

  //Store Getters
  //Mittels des Decorators, Zugriff auf einen Getter des programCodeState Moduls
  @Getter("programCodeState/getMethodOfTemporaryProgrammByName")
  getMethodByName!: (name: String) => Method;

  //Store Mutations
  //Mittels des Decorators, Zugriff auf eine Mutation des stackShemaState / executionState Moduls
  @Mutation("executionState/setExecutionState") setExecutionState: any;
  @Mutation("stackShemaState/removeAttributeBulk") removeAttributeBulk: any;
  @Mutation("stackShemaState/addAttributeBulk") addAttributeBulk: any;
  @Mutation("stackShemaState/updateAttribute") updateAttribute: any;
  @Mutation("stackShemaState/addAttribute") addAttribute: any;
  @Mutation("stackShemaState/resetState") resetState: any;

  //Computed Properties
  set stackShemaComp(value) {}
  get stackShemaComp() {
    return this.stackShema as Array<StackUnit>;
  }
  get methodByName() {
    return this.getMethodByName("main");
  }
  //-----------------------Lifecircle Hooks---------------------------------------//
  //Wird ausgeführt, sobald die Komponente aktualisiert wird
  updated() {
    this.stackShemaComp = this.stackShema as Array<StackUnit>;
  }
  //Wird ausgeführt, sobald die Komponente zerstört wird
  destroyed() {
    this.resetProgram();
  }

  //-----------------------Methods---------------------------------------//
  private startProgram() {
    if (!this.stop) {
      this.runProgram(false);
    }
  }
  private debugProgram() {
    this.stop = true;
    this.runProgram(true);
  }
  private resetProgram() {
    this.position = 0;
    this.stop = true;
    this.resetState();
    this.executionState(undefined);
  }
  private pauseProgram() {
    this.stop = true;
  }
  //Asynchrone Funktion, welche Elemtweise das Interpretierte Stackshema durchläuft
  // und Abhängig des Aktions-Attribut eine Änderung des Stores erwirkt
  private async runProgram(isDebug: boolean) {
    const stackUnit: StackUnit = JSON.parse(
      JSON.stringify(this.stackShemaComp)
    )[this.position];

    if (this.position >= this.stackShemaComp!.length) {
      this.resetProgram();
      this.stackShemaComp = programInterpreter(this.methodByName);
    } else {
      if (stackUnit.action === Actions.insert) {
        // Eintrag wird hinzugefügt
        this.addAttribute(stackUnit);
      } else if (stackUnit.action === Actions.update) {
        // Eintrag wird aktualisiert
        this.updateAttribute(stackUnit);
      } else if (stackUnit.action === Actions.bulkInsert) {
        // Einträge werden gesammelt hinzugefügt
        var bulkAddUnits = this.stackShemaComp!.filter(
          (stackUnit2) =>
            stackUnit2.action === Actions.bulkInsert &&
            stackUnit2.methodName === stackUnit.methodName
        );
        this.addAttributeBulk(bulkAddUnits);
        this.position = this.position + bulkAddUnits.length - 1;
      } else if (stackUnit.action === Actions.bulkDelete) {
        // Einträge werden gesammelt entfernt
        var bulkDeleteUnits = this.stackShemaComp!.filter(
          (stackUnit2) =>
            stackUnit2.action === Actions.bulkDelete &&
            stackUnit2.methodName === stackUnit.methodName
        );
        this.removeAttributeBulk(bulkDeleteUnits);
        this.position = this.position + bulkDeleteUnits.length - 1;
      }
      this.executionState(stackUnit);
      this.position++;
      if (!isDebug) {
        //Bei Automatischer Ausführung, 750ms Delay
        await sleep(750);
        this.startProgram();
      }
    }
  }
  //Aktuell ausgeführte Programmzeile wird in den executionState-State hinterlegt
  private executionState(stackUnit: StackUnit | undefined) {
    let methodName, programRow, originMethodName;
    if (!stackUnit) {
      (methodName = ""), (programRow = undefined);
      originMethodName = undefined;
    } else {
      (methodName = stackUnit.methodName),
        (programRow = stackUnit.programRow),
        (originMethodName = stackUnit.originMethodName);
    }
    this.setExecutionState({
      methodName: methodName,
      programRow: programRow,
      originMethodName: originMethodName,
    });
  }
}
</script>