<template>
  <div>
    <v-row class="mb-6" justify="center" no-gutters>
      <v-col col="2">
        <div class="sticky2">
          <!--
            Einbindung der Komponente, Übergabe des Interpretierten StackShemas
          -->
          <ActionBar :stackShema="stackShemaComputed"></ActionBar>
        </div>
      </v-col>
      <v-col col="5">
        <h1>Debugger Ansicht</h1>
        <!--
          Einbindung der Komponente, für jede einzelne Methode des Programmes wird
          eine Instanz erstellt, Übergabe von Metadaten an die Code-Komponente
        -->
        <CodeArea
          v-for="(method, index) in temporaryProgramm.programCode"
          :key="index"
          :method="method"
          :readOnly="false"
        />
      </v-col>
      <v-col col="5">
        <div class="sticky">
          <!--
            Einbindung der Komponente, Übergabe der maximalen Anzahl von Speicherbereichen
          -->
          <Callstack :maxUnitAmount="maxUnitAmount" />
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script lang ="ts">
import Vue from "vue";
import { Getter, Mutation } from "vuex-class";
import Component from "vue-class-component";

import { Method, ProgramCode } from "../../store/programCode/types";
import { Actions, StackUnit } from "../../store/stackSchema/types";
import { programInterpreter } from "../../functions/interpreter";
import Callstack from "@/components/debugger/callstack/Callstack.vue";
import ActionBar from "@/components/debugger/ActionBar.vue";
import CodeArea from "../CodeArea.vue";

@Component({
  components: {
    CodeArea,
    ActionBar,
    Callstack,
  },
})
export default class DebuggerView extends Vue {
  // Private Attribute
  private stackShema: Array<StackUnit> = [];
  private position: number = 0;
  private maxUnitAmount: number = 0;
  private stop: boolean = true;

  //Store Getters
  //Mittels des Decorators, Zugriff auf eine Mutation des programCodeState Moduls
  @Getter("programCodeState/getTemporaryProgram")
  getProgrammTemporary!: (index: boolean) => ProgramCode;
  @Getter("programCodeState/getMethodOfTemporaryProgrammByName")
  getMethodByName!: (name: String) => Method;

  //Computed Properties
  get stackShemaComputed() {
    return this.stackShema;
  }
  get temporaryProgramm() {
    return this.getProgrammTemporary(true);
  }
  get methodByName() {
    return this.getMethodByName("main");
  }

  //Lifecircle Hook
  //Wird ausgeführt, sobald die Komponente erstellt wird
  created() {
    //Beim Wechsel in die DebuggerView-Ansicht, Interpretierung des Programmes
    let shemaOrError = programInterpreter(this.methodByName);
    if (shemaOrError instanceof Error) {
      //Interpretation fehlgeschlagen, Übergabe des Fehlers an die App-Komponente
      this.$emit("error", shemaOrError);
    } else {
      //Interpretation erfolgreich, berechnung der maximalen Anzahl von Speicherbereichen
      this.stackShema = shemaOrError;
      if (this.stackShema) {
        let amount: number = 0;
        let finalAmount: number = 0;
        this.stackShema.forEach((unit) => {
          if (
            unit.action == Actions.insert ||
            unit.action == Actions.bulkInsert
          )
            amount++;
          else if (unit.action == Actions.bulkDelete) {
            finalAmount = finalAmount > amount ? finalAmount : amount;
            amount = 0;
          }
        });
        this.maxUnitAmount = finalAmount;
      }
    }
  }
}
</script>
<style scoped>
div.sticky {
  position: fixed;
  top: 100;
}
div.sticky2 {
  position: fixed;
  top: 100;
  z-index: 2;
}
</style>