<template>
  <!--
    Textfeld zur Anzeige einer Programmzeile
    Gelbe Hintergrundfarbe, wenn Zeile hervorgehoben werden soll 
  -->
  <v-text-field
    v-model="getCodeLine"
    :style="{
      backgroundColor: isHighlight ? 'yellow' : '',
    }"
    hide-details
    readonly
    dense
    outlined
    single-line
    filled
  >
  </v-text-field>
</template>

<script lang="ts">
import Vue from "vue";
import { Getter } from "vuex-class";
import Component from "vue-class-component";

import { ExecutionState } from "../../store/stateOfExecution/types";

// Übergebene Daten von der CodeArea-Komponente
const DebugHighlightAreaProps = Vue.extend({
  props: {
    codeLine: String,
    methodName: String,
  },
});
@Component({})
export default class DebugHighlightArea extends DebugHighlightAreaProps {
  //Privates Attribut
  private showMethodDialog: boolean = false;

  //Store Getters
  //Mittels des Decorators, Zugriff auf einen Getter des executionState Moduls
  @Getter("executionState/getExecutionState")
  getExecutionState!: () => ExecutionState;

  //Computed Properties
  get getCodeLine() {
    return this.codeLine;
  }
  get isHighlight() {
    //Determinierung ob Programmzeile aktuell ausgewührt wird
    //Vergleich des States mit der hier angezeigten Programmzeile
    let state = this.getExecutionState();
    if (
      state.originMethod != undefined &&
      state.originMethod.split(",")[0] === this.methodName &&
      state.programRow == this.$vnode.key
    ) {
      return true;
    } else if (
      state.methodName.split(",")[0] === this.methodName &&
      state.programRow == this.$vnode.key
    ) {
      if (state.originMethod == undefined) {
        return true;
      }
    }
  }
}
</script>
<style lang="scss" scoped>
$text-field-label-top: 2px;
$text-field-details-margin-bottom: 0px;
</style>